@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 252;
  --text: 20 20 20;
  --muted: 115 115 115;
  --card: 255 255 255;
}

html,
body {
  margin: 0;
  padding: 0;
  background: rgb(var(--bg));
  color: rgb(var(--text));
  font-family: var(--font-sans);
}

.font-allura {
  font-family: var(--font-allura), cursive;
}

.font-bodoni {
  font-family: var(--font-bodoni), serif;
}

.font-serif {
  font-family: var(--font-serif), serif;
}

.font-script {
  font-family: var(--font-script), cursive;
}